@font-face {
  font-family: 'athena';
  src:  url('fonts/athena51b6.eot?min2q1');
  src:  url('fonts/athena51b6.eot?min2q1#iefix') format('embedded-opentype'),
    url('fonts/athena51b6.ttf?min2q1') format('truetype'),
    url('fonts/athena51b6.woff?min2q1') format('woff'),
    url('fonts/athena51b6.svg?min2q1#athena') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="athena-"], [class*=" athena-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'athena' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.athena-computer:before {
  content: "\e918";
  color: #4f4f6f;
}
.athena-palm-2:before {
  content: "\e914";
  color: #4f4f6f;
}
.athena-product-source:before {
  content: "\e915";
  color: #4f4f6f;
}
.athena-data:before {
  content: "\e916";
  color: #4f4f6f;
}
.athena-buld:before {
  content: "\e917";
  color: #4f4f6f;
}
.athena-mail:before {
  content: "\e911";
  color: #544cf9;
}
.athena-pin:before {
  content: "\e912";
  color: #544cf9;
}
.athena-phone:before {
  content: "\e913";
  color: #544cf9;
}
.athena-recycle:before {
  content: "\e90d";
  color: #6684f2;
}
.athena-rocket:before {
  content: "\e90e";
  color: #6684f2;
}
.athena-target:before {
  content: "\e90f";
  color: #6684f2;
}
.athena-vector:before {
  content: "\e910";
  color: #6684f2;
}
.athena-mobile-app:before {
  content: "\e90c";
  color: #fff;
}
.athena-palm:before {
  content: "\e90b";
  color: #fff;
}
.athena-tablet:before {
  content: "\e90a";
  color: #fff;
}
.athena-archive:before {
  content: "\e904";
}
.athena-browser-code:before {
  content: "\e905";
  color: #fff;
}
.athena-laptop-pencil:before {
  content: "\e906";
  color: #fff;
}
.athena-target-up:before {
  content: "\e907";
  color: #fff;
}
.athena-tools:before {
  content: "\e908";
  color: #fff;
}
.athena-chart:before {
  content: "\e909";
  color: #544cf9;
}
.athena-icon-computer:before {
  content: "\e900";
  color: #4f4f6f;
}
.athena-icon-pen:before {
  content: "\e901";
  color: #4f4f6f;
}
.athena-pencil-ruler:before {
  content: "\e902";
  color: #4f4f6f;
}
.athena-icon-draw:before {
  content: "\e903";
  color: #4f4f6f;
}
